/* for animated nav-title on hover Farha R Sayed */

@media (max-width: 768px) {
    * {
        max-width: 120%;
        font-size: smaller;
    }
    .header-svg svg {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        height: 80vh;
    }
    .nav-title {
        font-size: 1.5rem;
    }
    .nav-title:hover span {
        transform: scale(1.2);
    }
    /* for animated intro-text2 on hover title Farha R Sayed */
    .intro-text1,
    .intro-text2 span,
    .animated-title span,
    .exp-title2 span {
        font-size: 2rem;
    }
    .intro-text2:hover span {
        transform: scale(1.2);
    }
    .home-leftside {
        /* padding-top: 8rem; */
        /* max-width: 80%; */
        /* max-height: 50vh; */
    }
    .home-rightside {
        margin-top: -5rem;
    }
    .intro-text {
        /* justify-content: center; */
        text-align: center;
        padding-top: 30px;
    }
    .intro-text3 {
        padding-bottom: 1rem;
    }
    .home-btns {
        padding: 3rem;
    }
    #home {
        flex-direction: column;
    }
    /* for all animated titles */
    .animated-title {
        font-size: 1.5rem;
    }
    .animated-title:hover span {
        transform: scale(1.2);
    }
    /* experience */
    .exp-title2 {
        font-size: 1.5rem;
    }
    .exp-title2:hover span {
        transform: scale(1.2);
    }
    .year-selector {
        gap: 1rem;
    }
    /* skills */
    .mindmap-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .skill-card {
        transform: none !important;
    }
    /* skills title */
    .skills-title2 {
        font-size: 1.5rem;
    }
    .skills-title2:hover span {
        transform: scale(1.2);
    }
    /* projects title */
    .project-title2 {
        font-size: 1.5rem;
    }
    .project-title2:hover span {
        transform: scale(1.2);
    }
    /* contact title */
    .contact-title2 {
        font-size: 1.5rem;
    }
    .contact-title2:hover span {
        transform: scale(1.2);
    }
    #header {
        position: fixed;
    }
    #home,
    #about,
    #projects,
    #skills,
    #experience,
    #contact {
        padding-top: 8rem;
    }
    /* Show hamburger under 768px */
    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: white;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.7s ease-in-out;
        z-index: 999;
    }
    .nav-links.active {
        transform: translateX(0);
        max-height: 40vh;
        padding: 4rem;
        /* Adjust as needed */
    }
    .hamburger {
        display: flex;
        justify-content: center;
    }
    nav {
        /* justify-content: space-between;
        padding: 0 2rem; */
        position: relative;
        z-index: 999;
    }
    .footer-nav-link1 {
        flex-direction: column;
    }
    .pfp {
        /* margin: 0 auto; */
        /* padding-top: 30px; */
        /* padding-bottom: 30px; */
        max-width: 30vw;
    }
    .about-parts {
        padding-top: 20px;
    }
    /* .animated-title {
        margin: 0 auto;
    } */
}


/* Responsive - Tablets */

@media (max-width: 1024px) {
    .project-cont1,
    .project-cont2,
    .project-cont3 {
        width: 200px;
        height: 450px;
    }
    .project-img {
        height: 55%;
    }
    .project1-title,
    .project2-title,
    .project3-title {
        font-size: 1rem;
    }
    .project-buttons a {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
    }
}


/* Responsive - Mobile (600px) */

@media (max-width: 600px) {
    .project-containers {
        flex-direction: column;
        align-items: center;
    }
    .project-cont1,
    .project-cont2,
    .project-cont3 {
        width: 90%;
        height: auto;
        padding: 1rem;
    }
    .project-img {
        height: auto;
        max-height: 300px;
    }
    .project-buttons a {
        width: 100%;
        text-align: center;
    }
    .project-buttons {
        flex-direction: column;
        width: 100%;
    }
}


/* for animated nav-title on hover Farha R Sayed (max-width: 480px) */

@media (max-width: 480px) {
    * {
        max-width: 100%;
    }
    #experience,
    #projects,
    #contact {
        max-height: 55%;
        overflow: hidden;
    }
    .nav-title {
        font-size: 1.2rem;
    }
    .nav-title:hover span {
        transform: scale(1.1);
    }
    /* for animated intro-text2 on hover title Farha R Sayed (max-width: 480px) */
    .intro-text2 {
        font-size: 1.2rem;
    }
    .intro-text2:hover span {
        transform: scale(1.1);
    }
    .pfp {
        padding: 1rem;
    }
    .scroll-indicator {
        display: none;
    }
    /* for all animated titles (max-width: 480px) */
    .animated-title,
    .exp-title2,
    .project-title2,
    .skills-title2,
    .contact-title2 {
        font-size: 2rem;
        padding: 0;
    }
    .about-parts {
        margin-top: -6rem;
        display: flex;
        flex-direction: column;
    }
    .about-text1,
    .about-text2,
    .about-text3 {
        font-size: 1rem;
    }
    .animated-title:hover span,
    .exp-title2:hover span,
    .skills-title2:hover span,
    .project-title2:hover span,
    .contact-title2:hover span {
        transform: scale(1.1);
    }
    .experience-content {
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: 80vh;
        max-width: 80vw;
        overflow: hidden;
    }
    #exp-image {
        max-width: 200px;
        max-height: 200px;
    }
    .exp-left,
    .exp-right {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-pic1 {
        height: 200px;
        width: 200px;
        padding: 0;
        justify-content: center;
    }
    .about-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .about-right {
        order: -1;
        padding: 2rem;
        /* justify-content: center; */
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 2rem; */
        /* position: relative; */
    }
}


/* for the effect on nav-title on first loading the page */

@keyframes scaleInNav {
    0% {
        transform: scale(1);
        color: inherit;
    }
    50% {
        transform: scale(1.2);
        color: black;
        /* red shade */
    }
    100% {
        transform: scale(1);
        color: inherit;
    }
}


/* for the effect on intro-text2 on first loading the page */

@keyframes scaleInIntro {
    0% {
        transform: scale(1);
        color: inherit;
        /* letter-spacing: 2px; */
    }
    50% {
        transform: scale(1.3);
        color: #FF4F00;
        /* letter-spacing: 4px; */
    }
}


/* for all animated titles on first loading the page */

@keyframes scaleInAbout {
    0% {
        transform: scale(1);
        color: inherit;
        /* letter-spacing: 2px; */
    }
    50% {
        transform: scale(1.3);
        color: #e02440;
        /* letter-spacing: 4px; */
    }
}


/* about right side slideshow */

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}


/* animation of small arrow */

@keyframes bounceDown {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) rotate(-45deg);
    }
    40% {
        transform: translateY(6px) rotate(-45deg);
        /* was 10px */
    }
    60% {
        transform: translateY(3px) rotate(-45deg);
        /* was 5px */
    }
}


/* experience */

@keyframes scaleInExperience {
    0% {
        transform: scale(1);
        color: inherit;
    }
    50% {
        transform: scale(1.2);
        color: #FF4F00;
        /* blue shade (or whatever you want) */
    }
    100% {
        transform: scale(1);
        color: inherit;
    }
}


/* for all animated titles on first loading the page (skills) */

@keyframes scaleInSkills {
    0% {
        transform: scale(1);
        color: inherit;
    }
    50% {
        transform: scale(1.2);
        color: #e02440;
        /* blue shade (or whatever you want) */
    }
    100% {
        transform: scale(1);
        color: inherit;
    }
}


/* for all animated titles on first loading the page (projects) */

@keyframes scaleInProjects {
    0% {
        transform: scale(1);
        color: inherit;
    }
    50% {
        transform: scale(1.2);
        color: #31a0f6;
    }
    100% {
        transform: scale(1);
        color: inherit;
    }
}


/* for all animated titles on first loading the page (contact) */

@keyframes scaleInContact {
    0% {
        transform: scale(1);
        color: inherit;
    }
    50% {
        transform: scale(1.2);
        color: #d7008f;
    }
    100% {
        transform: scale(1);
        color: inherit;
    }
}